BeautifulSoup==3.2.1
Mako==0.7.3
MarkupSafe==0.15
Pygments==1.5
SQLAlchemy==0.7.9
distribute==0.6.19
fancycompleter==0.4
ipython==0.13.1
lxml==3.0.1
matplotlib==1.2.0
memory-profiler==0.18
numpy==1.6.2
pandas==0.9.1
pdbpp==0.7.2
psycopg2==2.4.5
pyrepl==0.8.4
python-dateutil==2.1
pytz==2012h
six==1.2.0
wmctrl==0.1
wsgiref==0.1.2
